{% extends 'base.html.twig' %}

{% block title %}Hello EmbededCtrlController!
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello
            {{ controller_name }}! ✅</h1>
        {{
       render(controller('App\\Controller\\EmbededCtrlController::popularItems'))
        }}

        This friendly message is coming from:
        <ul>
            <li>Your controller at
                <code>
                    <a href="{{ 'G:/USERS/Public/TRAINING-MODULES/Symfony/00100_installation_020_dev/sy-dev-project-0050_views_040_embeded_controllers/src/Controller/EmbededCtrlController.php'|file_link(0) }}">src/Controller/EmbededCtrlController.php</a>
                </code>
            </li>
            <li>Your template at
                <code>
                    <a href="{{ 'G:/USERS/Public/TRAINING-MODULES/Symfony/00100_installation_020_dev/sy-dev-project-0050_views_040_embeded_controllers/templates/embeded_ctrl/index.html.twig'|file_link(0) }}">templates/embeded_ctrl/index.html.twig</a>
                </code>
            </li>
        </ul>
    </div>
{% endblock %}

